.kitten-image {
        border: 5px dashed red;
        box-shadow: 10px 10px 10px black
    }

#menu {
        text-align: center;
    }

    .item {
        color: red;
    }

    .picture {
        border-radius: 5px;
    }

    .description {
        font-style: italic;
    }