* {
    padding: 0;
    margin: 0;
}

.login_container {
    display: flex;
    justify-content: space-between;
    
    padding: 51px 51px 0px 51px;
    border-bottom: 1px solid #DDE2E8;
}

.login_container-left {
    width: 70vw;
    height: calc(100vh - 70px);

    
    padding-right: 20px;
}

.hr {
    width: 3px;
    background-color: #DDE2E8;
}

.login_container-right {
    max-width: 650px;
    min-width: 550px;
    /* min-height: 590px; */

    padding-top: 51px;
    padding-left: 49px;
}

.login_desc {
    width: 662px;
    padding-left: 46px;
    margin-top: -18px;
}

.login_desc div {
    line-height: 64.8px;
    color: #0A1317;
    font-size: 2.8vw;
    font-family: Instagram Sans Regular;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    word-spacing: -2px;
}

.login_desc span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
        background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);    
}

.login_logo img {
    width: 74px;
    height: 74px;
}

.login_stories-img {
    padding-left: 13px;
    margin-top: -11px;
}

.login_stories-img img {
    min-width: 500px;
    min-height: 290px;
    
    width: calc(100vw - 780px);
    height: calc(100vh - 370px);

    object-fit: contain;
}

.login_form {
    padding: 72px 0;
    padding-left: 3px;

    display: flex;
    flex-direction: column;
}

.form_desc p {
    color: #0A1317;
    letter-spacing: 0.3px;
    font-size: 1.0625rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.login_form input {
    height: 38px;
    padding: 10px 16px;
    
    border: 1px solid #CCD3DB;
    border-radius: 16px;

    color: #5D6C7B;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.2667;
    
    margin-bottom: 12px;
}

.login_form button {
    width: 100%;
    height: 44px;

    border-radius: 22px;
    outline: none;

    cursor: pointer;

    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    
    padding: 0 20px;
    margin-top: 12px;
}

.login_button {
    height: 44px;
    border-radius: 22px;
    background-color: #0064E0;
    border: none;
    color: #f1f4f7;
    letter-spacing: 1px;
    cursor: pointer;
}

.login_button:hover {
    background-color: #0360D4;
}

.forgotLink {
    height: 44px;
    border-radius: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 12px;
}

.forgotLink a {
    text-decoration: none;

    color: #0A1317;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.forgotLink:hover, .loginFacebook:hover, .createNew:hover {
    background-color: #F2F2F2;
}

.loginFacebook {
    margin-top: 53px !important;

    background: none;
    border: 1px solid #DDE2E8;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginFacebook svg {
    fill: #0064E0;
    padding-right: 9px;
    height: 16px;
}

.createNew {
    border: 1px solid #0064E0;
    color: #0064E0;
    background: none;
}

.login_meta_logo {
    display: flex;
    justify-content: center;

    margin-top: 28px;
}

.login_meta_logo svg {
    height: 12px;
}